<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Staff</title>
</head>

<body>
    <h2>ADD OR MODIFY STAFF</h2>
    <p> <a th:href="@{/showallstaff}"> All Staff </a></p>

    <form method="post" th:action="@{/submitform}" th:object="${addstaff}">
        <label id="name">Name</label>
        <p th:errors="*{name}"></p>
        <input type="text" id="name" th:field="*{name}">  
        <br><br>
        
        <label id="title">Title</label>
        <p th:errors="*{title}"></p>
        <input type="text" id="title" th:field="*{title}">  
        <br><br>

        <label id="salary">Salary</label>
        <p th:errors="*{salary}"></p>
        <input type="number" id="salary" th:field="*{salary}">  
        <br><br>

        <input type="hidden" th:field="*{id}">
        <input type="submit" value="Submit">

    </form>
</body>
</html>